html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#main {	margin:0;
	padding:0;
	min-height:100%;
	position:relative;
}

#content {
	padding-top:40px;
	padding-bottom:50px;   /* Height of the footer element */
}

#footer {
	height:50px;
	position:absolute;
	bottom:0;
	left:0;

	padding:10px;
	/*background-color:#F8F8F8; */
	/*border-top: 1px solid #e7e7e7; */
	color:#777777	;
	font-size:12px;
}
